
@font-face {
    font-family: 'Helvetica-Neue';
    src: url('../frontend/fonts/HelveticaNeue.ttf');
  }
  @font-face {
    font-family: 'Helvetica-Neue-Bold';
    src: url('../frontend/fonts/HelveticaNeueBd.ttf');
  }

.text-small{
    font-size: 14px;
    color: #888;
    font-family: "Source Sans Pro";
    position: relative;
    width: 100%;
    display: block;
}

.btnCopy{
    font-size: 22px;
    margin-left: 6px;
    cursor: pointer;
    float: left;
}
.btnCopy:hover{
    cursor: pointer;
}
.token{
    position: relative;
    width: 100%;
}
.tokenText{
    border: none;
    font-size: 30px;
    text-align: center;
    font-family: "Source Sans Pro",sans-serif;
    float: left;
}

.auth{
    position: relative;
    width: 100%;
    margin-top: -1.5rem;
    font-family: 'Helvetica',sans-serif;
}

.auth .side-left{
    position: fixed;
    height: 100vh;
    width: 30%;
    float: left;
    background: #FC6A94;
    text-align: center;
    background-image: url('../frontend/images/piala.png');
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: 420px;
}

.side-left h1{
    font-size: 52px;
    color: #fff;
    margin-top: 15%;
    font-family: 'Helvetica-Neue-Bold',sans-serif;
}

.side-left p{
    font-size: 32px;
    color: #fff;
    margin-top: 32px;
}

.auth .button{
    padding: 20px 100px;
    border: 1px solid #fff;
    border-radius: 15px;
    font-size: 24px;
    color: #fff;
    margin-top: 42px;
    display: inline-block;
}
.auth .button:hover{
    background: #fff;
    color: #FC6A94;
    border: 1px solid #FC6A94;
    transition: all ease-in-out 0.5s;
}

.auth .pink{
    background: #fff;
    color: #FC6A94;
    border: 1px solid #FC6A94;
    padding: 10px 50px;
    cursor: pointer;
}
.auth .pink:hover{
    background: #FC6A94;
    color: #fff;
    border: 1px solid #fff;
    transition: all ease-in-out 0.5s;
}

.auth .side-right{
    position: relative;
    display: block;
    padding-left: 200px;
    padding-top: 5%;
    padding-right: 290px;
    width: 70%;
    float: left;
    left: 30%;
}
.side-right h2{
    font-size: 54px;
    color:#041B2D;
    font-family: 'Helvetica-Neue-Bold',sans-serif;
}
.side-right p{
    color: #041B2D;
    font-size: 24px;
}
.side-right .form-group{
    width: 100%;
    display: inline-block;
}
.side-right .form-group input{
    width: 100%;
    border: none;
    border-bottom: 1px solid #041B2D;
    padding-left: 39px;
    padding-top: 15px;
    padding-bottom: 15px;
    outline: none;
}
.side-right .form-group .icon{
    position: relative;
    top: 36px;
    content: " ";
    width: 20px;
    height: 20px;
    display: block;
    background-size: 100%;
    background-repeat: no-repeat;
    float: left;
    left: 8px;
}
.form-group .name{
    background-image: url(../frontend/images/user-silhouette.svg);
}
.form-group .email{
    background-image: url(../frontend/images/black-envelope.svg);
}
.form-group .password{
    background-image: url(../frontend/images/unlocked.svg);
}
.form-group .cpassword{
    background-image: url(../frontend/images/unlocked2.svg);
}
.side-right .copyright{
    position: relative;
    width: 100%;
    text-align: center;
    padding: 50px 0px;
    font-family: 'Courier New', Courier, monospace;
}



/* Responsive */

@media screen and (max-width:768px){
    .auth .side-left {
        position: relative;
        height: 320px;
        width: 100%;
        float: left;
        background: #FC6A94;
        text-align: center;
        background-image: url(../frontend/images/piala.png);
        background-repeat: no-repeat;
        background-position: center top;
        background-size: 320px;
    }
    .auth .side-right {
        position: relative;
        display: block;
        padding-left: 20px;
        padding-top: 5%;
        padding-right: 20px;
        width: 100%;
        float: left;
        left: 0%;
    }
    .auth .button{
        padding: 10px 50px;
        border: 1px solid #fff;
        border-radius: 15px;
        font-size: 18px;
        color: #fff;
        margin-top: 18px;
        display: inline-block;
    }
    .auth .button:hover{
        background: #fff;
        color: #FC6A94;
        border: 1px solid #FC6A94;
        transition: all ease-in-out 0.5s;
    }
    
    .auth .pink{
        background: #fff;
        color: #FC6A94;
        border: 1px solid #FC6A94;
        padding: 10px 50px;
        cursor: pointer;
    }
    .auth .pink:hover{
        background: #FC6A94;
        color: #fff;
        border: 1px solid #fff;
        transition: all ease-in-out 0.5s;
    }
    .auth h1{
        font-size: 32px;
    }
    .auth p{
        font-size: 16px;
    }
    .auth .side-right {
        position: relative;
        display: block;
        padding-left: 20px;
        padding-top: 5%;
        padding-right: 20px;
        width: 100%;
        float: left;
    }
}